torch
torchaudio
moshi
numpy
librosa
scikit-learn
matplotlib
tqdm
wandb
easydict
coloredlogs
PyYAML
huggingface_hub

# Required only for NeMo-based configs (configs/forecasting/nemo/)
# nemo_toolkit[asr]
